.site {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid;
  color: purple;
  width: 1000px;
}

.logo {
  display: flex;
  color: #f9FAF8;
  font-size: 24px;
  font-weight: 900;
  border: solid;
  border-color: gold;
}

ul {
  display: flex;
  border: solid;
  border-color: blue;
  list-style: none;
  gap: 15px;
  justify-content: space-around;
  align-self: flex-end;
}

a {
  display: flex;
  border: solid;
  border-color: turquoise;
  font-size: 18px;
  color: #E5E7EB;
}


.section1 {
  display: flex;
  flex-direction: row;
  border: solid;
  border-color: white;
  margin-top: 80px;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
}

.section1info {
  display: flex;
  flex-direction: column;
  border: solid;
  border-color: yellow;
  width: 350px;
}

.section1image {
  display: flex;
  border: solid;
  border-color: green;
  height: 193px;
  width: auto;
  margin-left: 200px;
}


.section1title {
  display: flex;
  border: solid;
  border-color: red;
  font-size: 48px;
  font-weight: 900;
  color: #f9FAF8;
  justify-content: flex-start;
  flex-wrap: 1;
  width: 350px;
}

.section1text {
  display: flex;
  border: solid;
  border-color: blue;
  flex-wrap: 1;
  color: #E5E7EB;
  font-size: 18px;
}

.signup {
  padding: 8px 16px;
  border-radius: 8px;
  display: flex;
  border: solid;
  border-color: yellow;
  background: #3882F6;
  border: 1px solid royalblue;
  color: white;
  width: 100px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.section2 {
  display: flex;
  flex-direction: column;
  border: solid;
  border-color: orange;
  margin-top: 80px;
  align-items: center;
  width: 1000px;
  background: darkgrey;
}

.section2info {
  display: flex;
  border: solid;
  border-color: red;
  flex-direction: column;
}

.section2title {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.section2images {
  display: flex;
  border: solid;
  border-color: blue;
  justify-content: space-around;
  flex-direction: row;
  width: 675px;
}

.section2image {
  display: flex;
  width: 50px;
  height: auto;
}

.image1,
.image2,
.image3,
.image4 {
  display: flex;
  border: solid;
  border-color: yellow;
  flex-direction: column;
  width: 50px;
  flex-wrap: wrap;
  font-size: 10px;
  text-align: center;
}

.imagelabel {
  margin-top: 5px;
  border: solid;
  border-color: pink;
}

.section3 {
  display: flex;
  border: red;
  border: solid;
  width: 1000px;
  justify-content: center;
  background: #E5E7EB; 
}

.section3info {
  background: #E5E7EB; 
  margin-top: 50px;
  display: flex;
  border: solid;
  border-color: white;
  flex-direction: column;
  width: 850px;
}

.quote {
  background: #E5E7EB; 
  display: flex;
  border: solid;
  border-color: green;
  font-size: 36px;
  font-style: italic; 
  color: #1F2937;
  width: 850px;
  align-self: center;
}

.author {
  background: #E5E7EB; 
  display: flex; 
  border: solid;
  border-color: orange;
  width: 150px;
  font-weight: bold;
  align-self: flex-end;
  color: black;
}


.section4 {
  margin-top: 50px;
  display: flex;
  border: solid;
  border-color: blue;
  flex-direction: row;
  width: 500px;
  justify-content: space-around;
}

.section4text {
  display: flex;
  border: solid;
  border-color: yellow;
  flex-direction: column;
}

.section4header {
  display: flex;
  border:solid; 
  border-color: red;
}

.section4subtext {
  display: flex;
  border: solid;
  border-color: purple;
}

.section4signup {
  display: flex;
  border:solid;
  border-color: green;
  align-self: center;
}